---
---

@charset "utf-8";

// Our variables
$base-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   			2px;
$small-font-size:  			16px;
$base-font-size-mobile: 	24px;
$small-font-size-mobile:	14px;
$footer-font-size:			20px;

$base-font-weight: 			300;
$base-font-weight-mobile:	300;
$base-line-height: 			1.5;

$spacing-unit:     			50px;
$spacing-content:  			5%;
$spacing-content-mobile:	10px;

$max-width-content:			800px;

// Colors
$home-header-color:  		#fff;
$no-home-header-color:  	#999;

$text-color:      			#606060;
$text-titles-color:			#2f2f2f;

$grey-color:       			#828282;
$light-grey-color:      	#ddd;

// Width of the content area
$content-width:    			100%;

//Media queries variables

$screen-sm-max:				991px;
$screen-xs-max: 			768px;




// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"sanitize"