<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ site.data.head.website.title }}</title>
	<meta name="description" content="{{ site.data.head.website.description }}">
	<meta name="keywords" content="{{ site.data.head.website.keywords }}">

	<!-- Open Graph -->
	<meta property="og:url" content="{{ site.data.head.og.url }}" />
	<meta property="og:type" content="{{ site.data.head.og.type }}" />
	<meta property="og:site_name" content="{{ site.data.head.og.siteName }}" />
	<meta property="og:title" content="{{ site.data.head.og.title }}" />
	<meta property="og:description" content="{{ site.data.head.og.description }}" />
	<meta property="og:image" content="{{ site.data.head.og.image }}" />
	<meta property="og:locale" content="{{ site.data.head.og.locale }}" />

	<!-- Apple touch icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ site.data.head.appleTouch.icon57 }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ site.data.head.appleTouch.icon114 }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ site.data.head.appleTouch.icon72 }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ site.data.head.appleTouch.icon60 }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ site.data.head.appleTouch.icon120 }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ site.data.head.appleTouch.icon76 }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ site.data.head.appleTouch.icon152 }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.data.head.appleTouch.icon180 }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.data.head.webAppTitle }}">
    
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{{ site.data.head.favicon192 }}" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.data.head.favicon96 }}" sizes="96x96">
	<link rel="icon" type="image/png" href="{{ site.data.head.favicon16 }}" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ site.data.head.favicon32 }}" sizes="32x32">

    <link rel="stylesheet" href="css/main.css">
</head>
