.grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;

    &~.grid-item {
        margin-bottom: $qw-gap-lg;
        display: block;
    }

    &.grid-col-one {
        &>.grid-item {
            flex-basis: 100%;
        }
    }

    &.grid-col-two {
        &>.grid-item {

            flex-basis: 49%;
        }
    }

    &.grid-col-three {
        &>.grid-item {
            flex-basis: 32%;
        }
    }

    &.grid-col-four {
        &>.grid-item {
            flex-basis: 24%;
        }

    }
}