.header-default {
    width: $qw-width-full;
    height: auto;
    position: relative;
    .header__logo {
        position: relative;
        cursor: pointer;
        padding: $qw-gap-xl;
        margin: 0 auto;

        .logo__image {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .navbar {
        position: relative;
        display: block;
        width: auto;
        height: auto;
        .navbar__menu {
            position: relative;
            width: auto;
            height: auto;
            ul {
                padding-left: 0;
                list-style: none;
                display: inline-block;
                li {
                    display: inline-block;
                    padding: $qw-gap-sm;
                }
            }
        }
        .navbar__icon-menu {
            display: none;
            .icon-menu__hamburger {
                position: relative;
                display: block;
                width: 25px;
                height: 3px;
                background-color: $qw-primary-dark;
                border-radius: $qw-border-radius-sm;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $qw-primary-dark;
                    border-radius: $qw-border-radius-sm;
                    transform: translateY(-200%)
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $qw-primary-dark;
                    border-radius: $qw-border-radius-sm;
                    transform: translateY(200%)
                }
            }
            @include tablet {
                display: block;
            }
        }
    }
}