<header class="header">
  <nav class="navbar">
    <div class="navbar__icon-menu">
      <span></span><span></span><span></span>
    </div>
    <div class="navbar__languages">
      <ul>
        <li class="navbar__languages--active"><a href="#">En</a></li>
        <li>|</li>
        <li><a href="#">Jp</a></li>
      </ul>
    </div>
  </nav>
  
  {% include header/logo.html %}
  
  <nav class="navbar-secondary">
    <div class="navbar__menu--actions">
      <ul>
        <li><a href="#">Link 1</a></li>
        <li>|</li>
        <li><a href="#">Link 2</a></li>
        <li>|</li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </nav>
  
  {% include header/menu.html %}

</header>
